@model online_journal.Models.Subject

@{
    ViewData["Title"] = "Malumothoi fanro tahrir kardan";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Sabt kardan</button>
    <a asp-action="Index" class="btn btn-secondary">Ba qafo</a>
</form>
